/* Custom CSS for your Django template */

/* Style for the container */
.container {
    margin-top: 20px;
}

/* Style for the event cards */
.card {
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card-body {
    background-color: lightgrey;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    margin-bottom: 10px;
}

/* Style for the buttons */
.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

/* Style for the footer */
.footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
}
