.main-giving h2 {
    color: purple;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}
.main-giving p {
    font-size: 16px;
    line-height: 1.5em;
  }
  .main-giving {
    /* margin-top: 20px; */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .giving-message {
    margin-top: 30px;
    width: 98%;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 4px;
  }
  
  .giving-options {
    /* margin-top: 20px; */
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 4px;
    width: 98%;
  }
  
  .giving-options ul {
    list-style-type: none;
    padding: 0;
  }
  
  .giving-options li {
    font-size: 16px;
    line-height: 1.5em;
  }
  
  .giving-impact {
    /* margin-top: 20px; */
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 4px;
    width: 98%;
  }
  .giving-impact ul {
    list-style-type: none;
    padding: 0;
  }
  
  .giving-impact li {
    font-size: 16px;
    line-height: 1.5em;
  }
  .giving-options a {
    color: rgba(0, 0, 255, 0.952);
  }
  .giving-options a:hover {
    opacity: 50%;
  }