body {
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-image: url(./images/a1b.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    /* backdrop-filter: blur(5px); */
}
.login-box {
    margin: 90px auto;
    display: block;
    text-align: center;
    background-color: rgba(255,255,255,0);
    /* height: 100vh; */
}
form {
    display: inline-block;
    width: 24.375rem;
    margin: 20px;
    padding: 20px;
    border: 1px solid #221d1d;
    border-radius: 4px;
    text-align: center;
    background-color: rgba(41, 40, 40, 0.533);
}
form label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form input {
    height: 30px;
    width: 70%;
    border-radius: 4px;
}
.btn {
    background-color: rgb(34, 98, 216);
    height: 40px;
    border-radius: 4px;
}
.btn:hover {
    opacity: 90%;
}
ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li {
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(60, 62, 64, 0.255);
    border-radius: 5px;
}
li :hover {
    background-color: rgba(66, 149, 231, 0.458);
}
li a {
    text-decoration: none;
    font-size: 18px;
}