{% extends "./base.html"%}

{% block content %}
    <section class="about-area" id="about">
        <h3 class="section-title">About <span>Us</span></h3>
        <ul class="about-content">
            <li class="about-left"></li>
            <li class="about-right">
                <h2>We are Taking Small Steps to Make the Earth a better Place</h2>
                <p>🌍 Practice stewardship: Care for the earth and its resources as a gift from God.<br>
    ♻️ Mindful consumption: Reduce waste and conserve energy in daily habits.<br>
    🌱 Advocate for environmental justice: Support policies promoting sustainability and protecting the environment.<br>
    🤝 Community service: Engage in activities like park cleanup, tree planting, and recycling.<br>
    🙏 Pray for the environment: Seek guidance from God in efforts to care for the earth.<br>
    🌿 Inspire others: Demonstrate commitment to the environment to encourage collective action for a sustainable and just world.</p>
                <p><i class="fa fa-arrow-right"></i> Happy in Christ</p>
                <p><i class="fa fa-arrow-right"></i> Christian are guaranteed of Christ's protection</p>
                <p><i class="fa fa-arrow-right"></i> Sin separates us from Christ</p>
            </li>
        </ul>
    </section>
{% endblock %}