{% extends "./base.html" %}

{% block content %}
    <main>
        <div class="consult-content">
            <h2>Consultation Form</h2>
            <form action="." method="POST">
                {% csrf_token %} 
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="message">Message:</label>
                <textarea id="message" name="message" required></textarea><br>
                <button type="submit">Submit</button>
            </form>
        </div>
        <section>
            <h2>Consultation Guidelines</h2>
            <p>If you are seeking guidance or support from our church community, please fill out the consultation form above. Our team will review your message and get back to you as soon as possible.</p>
        </section>
    </main>

{% endblock %}
