{% extends "./base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <section class="contact-area" id="contact">
        <h3 class="section-title">Our <span>Contact</span></h3>
        <ul class="contact-content">
            <li>
                <i class="fa fa-map-marker"></i>
                <p>01102,Nyeri<br>
                Kenya</p>
            </li>
            <li>
                <i class="fa fa-phone"></i>
                <p>+254 11509 3604<br>
                +254 71234 5678</p>
            </li>
            <li>
                <i class="fa fa-envelope"></i>
                <p>info@alterofchrist.com<br>
                alterofchriest@website.com</p>
            </li>
        </ul>
    </section>
{% endblock %}