{% extends "./base.html"%}
{% load static %}
{% block content %}
    <section class="banner-area">
        <div class="banner-img"></div>
        <h3>Prayers opens Doors</h3>
        <h1>Alter of <span>His Presence</span></h1><a class="banner-btn" href="#">More Info</a><br>

        <h3>Verse of the Day</h3>
        <div id="verse-container">
            <!-- Bible verses will be displayed here -->
        </div>
        <p class="footer">&copy All Right Reserved 2024</p>
    </section>
    <script src="{% static "script.js" %}"></script>
{% endblock %}