<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="container">
        <div class="login-box">
            <form action="{% url 'log_in' %}" method="POST">
                {% csrf_token %}
                {% if error %}
                <p style='color:red'>{{ error }}</p>
                {% endif %}
                <h1>Log in</h1>
                <label for="username">Username
                    <input type="text" name="username" id="username" placeholder="Enter your username" required>
                </label><br>
                <label for="password">Password
                    <input type="password" name="password" id="password" placeholder="Enter your password">
                </label><br>
                <input class="btn" type="submit" name="" value="Sign in">
                <header>
                    <ul>
                        <li><a href="{% url 'log_in' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                    </ul>
                </header>
            </form>
        </div>
    </div>
</body>
</html>