{% extends "./base.html" %}

{% block content %}
  <main class="sermon-main">
    <article class="video">
        <div class="sermon">
            <h6>Sermon Title 1</h6>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/to_Ekzku3Qs?si=Ox1XiydAJfsTesV-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <p>Date: January 1, 2022</p>
        </div>
        <p>
            The Purpose Driven Church - Wikipedia
            Warren suggests that these purposes are worship, fellowship, discipleship, ministry, and mission, and that they are derived from the Great Commandment (Matthew 22:37–40) and the Great Commission (Matthew 28:19–20). Warren writes that every church is driven by something.
        </p>
    </article>

    <article class="video">
        <div class="sermon">
            <h6>Sermon Title 2</h6>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/nRJ2_Hrp6rc?si=8K0VBCil02tibGVc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <p>Date: January 31, 2023</p>
        </div>
        <p>
            The Purpose Driven Church - Wikipedia
            Warren suggests that these purposes are worship, fellowship, discipleship, ministry, and mission, and that they are derived from the Great Commandment (Matthew 22:37–40) and the Great Commission (Matthew 28:19–20). Warren writes that every church is driven by something.
        </p>
    </article>

    <article class="video">
        <div class="sermon">
            <h6>Sermon Title 3</h6>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/TaRrpJeSfjo?si=PDvIkz6x1qgB5vDE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <p>Date: January 31, 2023</p>
        </div>
        <p>
            The Purpose Driven Church - Wikipedia
            Warren suggests that these purposes are worship, fellowship, discipleship, ministry, and mission, and that they are derived from the Great Commandment (Matthew 22:37–40) and the Great Commission (Matthew 28:19–20). Warren writes that every church is driven by something.
        </p>
    </article>
    
    <!-- Add more sermon sections as needed -->
  </main>

{% endblock %}