{% extends "./base.html"%}

{% block content %}
    <section class="services-area" id="services">
        <h3 class="section-title">Our <span>Services</span></h3>
        <ul class="services-content">
            <li>
                <img alt="" src="images/1.jpg">
                <h4>Prayer</h4>
                <p>Do not be anxious about anything, but in everything by prayer and supplication with thanksgiving let your requests be made known to God...Philippians 4:6</p>
            </li>
            <li>
                <img alt="" src="images/3.jpg">
                <h4>offerings</h4>
                <p>Sell your possessions and give to the poor. Provide purses for yourselves that will not wear out, a treasure in heaven that will never fail, where no thief comes near and no moth destroys. Luke 12:33</p>
            </li>
            <li>
                <img alt="" src="images/4.jpg">
                <h4>Blessings</h4>
                <p>Blessing is not about getting good things or experiencing happiness. <br>It is about aligning oneself with the Great Liberator—Jesus Christ!</p>
            </li>
        </ul>
    </section>
{% endblock %}